@mixin media-query-mobile{
    @media (max-width: 576px){
        @content;
    }
}

.sec-1{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 5% 10%;
}

#destino{
    background-color: gray;
    border-radius: 20px;
    padding: 20px;
    width: 280px;
    textarea{
        border-radius: 0%;
    } 
    input{
        border-radius: 0%;
    }
}
